In [18]:
import lightgbm as lgb
import matplotlib.pyplot
import pandas as pd

In [19]:
model_path = "../models/lgbm_optuna.txt"
data_path = "../data/processed/test.csv"

In [20]:
model = lgb.Booster(model_file=model_path)
df = pd.read_csv(data_path)

In [21]:
df

,Unnamed: 0,Quantity,Price,Country,StockCode,Year,Month,Day,Hour,min,sec,target
0,363675,12,1.95,United Kingdom,21491,2010,9,30,8,59,0,0
1,363676,6,2.95,United Kingdom,22810,2010,9,30,8,59,0,0
2,363677,6,2.95,United Kingdom,22809,2010,9,30,8,59,0,0
3,363678,12,1.95,United Kingdom,22812,2010,9,30,8,59,0,0
4,363679,12,2.55,United Kingdom,21587,2010,9,30,8,59,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
703691,1067366,6,2.10,France,22899,2011,12,9,12,50,0,0
703692,1067367,4,4.15,France,23254,2011,12,9,12,50,0,0
703693,1067368,4,4.15,France,23255,2011,12,9,12,50,0,0
703694,1067369,3,4.95,France,22138,2011,12,9,12,50,0,0
703695,1067370,1,18.00,France,POST,2011,12,9,12,50,0,0

In [22]:
enc = df['StockCode'].value_counts()
df['StockCode_Freq'] = df['StockCode'].map(enc)

# NOW drop StockCode
df.drop(columns=['StockCode'], inplace=True)

In [23]:
df.drop(columns=["Unnamed: 0"] , inplace=True)

In [24]:
X = df.drop(columns= ["target"])
y = df["target"]

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703696 entries, 0 to 703695
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Quantity        703696 non-null  int64
 1   Price           703696 non-null  float64
 2   Country         703696 non-null  object
 3   Year            703696 non-null  int64
 4   Month           703696 non-null  int64
 5   Day             703696 non-null  int64
 6   Hour            703696 non-null  int64
 7   min             703696 non-null  int64
 8   sec             703696 non-null  int64
 9   StockCode_Freq  703696 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 53.7+ MB

In [26]:
X.columns

Index(['Quantity', 'Price', 'Country', 'Year', 'Month', 'Day', 'Hour', 'min',
       'sec', 'StockCode_Freq'],
      dtype='object')

In [27]:
# Convert Country to categorical type (matching training)
X['Country'] = X['Country'].astype('category')

In [31]:
predictions = model.predict(X)